# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Docker persistent data (IMPORTANT)
clickhouse_data/
superset_home/
logs/

# IDE configuration
.idea/
.vscode/

# Environment variables file
.env